<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href='/main.css' type="text/css">
  
</head>
<body>
  <header>Easy chat app</header>
  <div class="changeNameBox">
    <p>Your name</p>
    <input type="text" id="userNameInput" class="changeNameBox__input">
    <button id="userNameButton" class="changeNameBox__button">Change!</button>
  </div>
  <div class="changeColorBox">
    <label for='frontColor'>Font color:</label>
    <input type='color' id='frontColor'>
    <label for="bgColor">Background color:</label>
    <input type='color' id='bgColor'>
  </div>

  <div class="chatBox">
    <ul id="chat" class="chatBox__chat"></ul>
     <input id="messageInput" type='text' class="chatBox__input" maxlength="100"/>
     <button id="sendMessage" class="chatBox__button">Send!</button>
  </div>


  <!--  Scripts  -->
  <script>
    const IO_PORT = "<%= portNumber %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <script src="/main.js"></script>
  
</body>
</html>